Fill out skeleton for implementation report

Need to remove the existing text in the body of the draft and construct something that adheres to more like what is required in Section 3 of RFC 5657: https://tools.ietf.org/html/rfc5657#section-3